[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairocffi = "*"
igraph = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
tqdm = "*"
networkx = "*"
grakel = "*"

[dev-packages]

[requires]
python_version = "3.10"
